.k1{
	margin-left: 100px;
}
i{
	font-size: 250%;

}

.k2{
	float: left;
	margin-left: 30%;	
	margin-top: -30%;
}

.k3{
	float: right;
	margin-left: 30%;
	margin-top: -30%;
}

.z1{
	float: right;
	margin-top: -25%;
	margin-right: 10%;
}
.k4
{
	padding-top: 300px;
}